@import "../../../utils/colorPalette.sass"
@import "../../../utils/animationTimer"

.main
  border: none
  transition: border-top $colorTransitionDuration
  border-top: 1px solid var(--primary-text-color)

.thick
  border-top: 2px solid var(--primary-text-color)