{
  "extends": [
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          "jsx"
        ]
      }
    ],
    "prettier/prettier": "warn",
    "react-hooks/rules-of-hooks": "error",
    "import/prefer-default-export": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn",
    "max-len": [
      "warn",
      100
    ]
  }
}
