@import "../../utils/widthPicker"
@import "../../utils/colorPalette"

.title
  font-size: 40px
  font-weight: normal
  text-align: center
  margin: 0
  +screen(small)
    text-align: left

.titleRow
  padding-top: 50px
  align-items: center
  +screen(small)
    padding-top: 25px
  +screen(large)
    padding-top: 35px

.ruler
  flex-grow: 1
  margin-left: 30px
  +screen(small)
    margin-left: 10px

.backgroundColor
  background: $off-white