@import "../utils/animationTimer"
@import "../utils/variables"
@import "../utils/widthPicker"
@import "../utils/colorPalette"

.blogContainer
  max-width: $blog-width
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px
  padding-top: 70px
  +screen(small)
    padding-top: 30px

.blogPostBody
  display: flex
  justify-content: center
  transition: $colorTransition
  min-height: 100vh
  code
    color: $dark-blue
    transition: $colorTransition

.blogPostNavbarMargin
  margin-bottom: 50px
  +screen(small)
    margin-bottom: 40px

.blogPostDark
  a
    color: $sky-blue
    &:hover
      color: $blue
  pre
    background: $space-grey
  blockquote
    background: $space-black
    border-left: 10px solid $dark-grey
  code
    color: $sky-blue
  color: $white

.footerStyle
  max-width: $blog-width
  padding-bottom: 20px
  padding-top: 10px
  margin-left: auto
  margin-right: auto

.width
  width: 100%