$colorTransitionDuration: 1s
$backgroundTransition: background $colorTransitionDuration linear
$colorTransition: color $colorTransitionDuration linear
$transitionDelay: 0.1s
$hoverColorTransitionDuration: 0.15s
$bodyBackgroundColorTransitionDuration: 0.3s